.container
  = render 'search_profiles'
  %p
  - @profiles.each do |profile|
    - next if profile == current_user.profile
    .container_list_profiles
      - if signed_in? && !Invitation.reacted?(current_user.id, profile.user.id) && current_user != profile.user
        .chip
          = render 'shared/display_users', profile: profile
        = link_to 'Send Invitation', invitations_create_path(ids: { id1: current_user.id, id2: profile.user.id }),
               class: "waves-effect waves-light btn-small"
        %br/
        %br/
      - else
        .chip
          = render 'shared/display_users', profile: profile
        %br/
        %br/
