.container
  = render 'search_profiles'

  - @profiles.each do |profile|
    - next if profile == current_user.profile
    .d-flex.justify-content-between.mb-3
      %br/
      - if signed_in? && !Invitation.reacted?(current_user.id, profile.user.id) && current_user != profile.user
        %div
          = render 'shared/display_users', profile: profile
          = link_to 'Send Invitation', invitations_create_path(ids: { id1: current_user.id, id2: profile.user.id })
          %br/
      - else
        = render 'shared/display_users', profile: profile