%head
  %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%body
  %p
    You received this message, because you haven't logged in for a long time!
  %p
    If you want to return, follow the link:)
    %br/
    \--------------------------
  %p
    https://rails-social-network-01.herokuapp.com/