%div{ style: "margin: 30px" }
.container
  .container_for_comments
    .row
      .col-md-3
      .col-md-6
        = simple_form_for([@post,@comment]) do |f|
          .form-group
          = f.text_area :text_comment
          %br/
          .custom-file
            = f.file_field :picture
          %br/
          = f.button :submit, class: "btn btn-primary"
    .col-md-3