<div class="container">
  <div class="section-heading  fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
    <p class="script"><span>Friends of interest</span></p>
  </div>
</div>