<div class="ml-lg-5 col-lg-7 col-md-7 d-flex justify-content-center flex-row">
  <div class="section-heading  fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
    <h1 class="title">Kartman</h1>
    <p style="font-size: 1.8rem;">Share memories, make friends, travel the world from your PC...</p>
  </div>
</div>