.row
  = render 'shared/left_sidebar'
  .col.s6
    #pills-tabContent.tab-content
      #pills-home.tab-pane.fade.show.active{"aria-labelledby" => "pills-home-tab", role: "tabpanel"}
        %ol.posts
        = render @posts
  = render 'shared/right_sidebar'
