<% content_for(:title, 'Forgot Password') %>
<div class="container">
  <div class="container">
    <div class="section-heading  fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
      <h1 class="title">Please enter email</h1>
    </div>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="pt-2 shadow pb-4 mt-5 container col-lg-5 mb-5 col-md-6">
      <div class="field ">
        <%= f.label :email, "Email" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-black bg-light" %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "Send me reset password instructions", class: "btn btn-default btn-primary" %>
      </div>
    </div>
  <% end %>
</div>