%div
  = link_to profile, class: "text-decoration-none" do
    = image_tag(profile.avatar_attachment_path, class: "medium-profile-image-right-sidebar")
    #{profile.first_name} #{profile.second_name}

