%div
  = link_to user.profile, class: "text-decoration-none" do
    = image_tag(user.profile.avatar_attachment_path, class: "medium-profile-image-right-sidebar")
    #{user.profile.first_name} #{user.profile.second_name}

