= activity.owner.profile.full_name if activity.owner
dislike the post titled
- post = activity.parameters[:post]
- if post.present?
  = link_to activity.parameters[:post][:heading], activity.parameters[:post]
- elsif post.present? && Post.find_by_id(post[:post][:id]).nil?
  = [activity.parameters[:post][:heading], ' (Removed Post)'].join
- else
  Removed Post