@import url('https://fonts.googleapis.com/css?family=Arvo:700');
@import url('https://fonts.googleapis.com/css?family=Seaweed+Script');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "materialize/components/color-variables";
@import "materialize/components/color-classes";
@import 'materialize';

#boxy{
  background: image-url('1.jpg') no-repeat;
}

.deleteAction:hover{
  color: black;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: static!important;
  left: 0px!important;
  opacity: 1!important;
  visibility: visible!important;
  pointer-events: all!important;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.label {
  color: white;
  padding: 3px;
  border-radius: 10%;
  margin: auto;
  line-height: 25px;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */

.background_image {
  background: url(1.jpg)  no-repeat center center;
  background-size: 100%;
  font-weight: normal;
}

.profile_image{
  border-radius: 10%;
  height: 40px;
  width: 40px;
}

.profile_image_home{
  border-radius: 10%;
  height: 40px;
  width: 40px;
}

.image-upload > input
{
  display: none;
}
.image-upload > label{
  cursor:pointer;
}


.margin-top {
  //background: #fc3; /* Цвет фона */
  //border: 2px solid black; /* Параметры рамки */
  //padding: 20px; /* Поля вокруг текста */
  margin-top: 8%; /* Отступ сверху */
}

.center-content {
  display: block;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}

.alignment_interests {
  display: block;
  margin:auto;
}

.medium-profile-image {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: auto;
}

.medium-profile-image-home {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
}

.medium-profile-image-right-sidebar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: auto;
}

.container{
  width: 60%;
  max-width:initial;
  > .row{
    margin: 20px;
    > .col{
      padding: 0;
    }
  }
}

.container_two{
  width: 90%;
  margin: auto;
  max-width:initial;
  > .row{
    margin: 30px;
    > .col{
      padding: 0;
    }
  }
}


.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 75px;
  position: relative;
  margin:0;
}

.script_company_name {
  font-family: "Seaweed Script";
  color: #fff;
  font-size: 15px;
  position: relative;
  margin:0;
}

.script_interests{
  font-family: FreeSerif;
  color: #222222;
  text-align: center;
  font-size: 30px;
  position: relative;
  margin:0;
}

.script_friends{
  font-family: FreeSerif;
  color: #222222;
  text-align: center;
  font-size: 35px;
  position: relative;
  margin:0;
}

.script_first_second_name{
  font-family: FreeSerif;
  color: #222222;
  text-align: center;
  font-size: 20px;
  position: relative;
  margin:0;
}

.script span {
  color: indigo;
  padding: 0 0.3em;
}
.text1 {
  font-size: 60px;
}
.text2 {
  font-size: 169px;
}
.text3 {
  font-size: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.container_for_posts {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 50%;
  max-width:initial;
}

.container_for_profiles {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 50%;
  max-width:initial;
}

.container_for_comments {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 60%;
  max-width:initial;
}

.container_for_message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 60%;
  max-width:initial;
}



/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container_for_posts::after {
  content: "";
  clear: both;
  display: table;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.chat {
  border: 1px solid lighten(#aaa,40%);
  background: #b3e2f0 lighten(#aaa,50%);
  height: 60vh;
  width: 100vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  margin: auto;
  max-width:initial;
  flex-direction: column;
  word-wrap: break-word;

  .chat-message-container {
    padding: 5px;
    .avatar {
      margin: 5px;
    }

    .message-content {
      background-color: #eeeeee;
      padding: 8px 16px;
      border-radius: 20px;
    }

    & + .chat-message-container {
      margin-top: 10px;
    }

    &.me {
      .message-content {
        background-color: #c2c0c2;
      }
    }

    }
}

.all-chat {
  border: 1px solid lighten(#aaa,40%);
  background: #b3e2f0 lighten(#aaa,50%);
  height: 60vh;
  width: 100vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  margin: auto;
  max-width:initial;
  flex-direction: column;
  word-wrap: break-word;


  .chat-message-last-container {
    padding: 5px;
    .message-last {
      background-color: #eeeeee;
      padding: 8px 16px;
      width:60%;
      border-radius: 20px;
    }

    & + .chat-message-last-container {
      margin-top: 10px;
    }
  }
}


.post-container{
  width:80%;
  margin: auto;
}

.send-message-container{
  width:60%;
  margin: auto;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.03);
  border-bottom: 1px solid rgba(0,0,0,0.125);
}

.folding-header {
  display: flex;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

/* line 10, ../../.rvm/gems/ruby-3.0.1/gems/materialize-sass-1.0.0/assets/stylesheets/materialize/components/_collapsible.scss */
.folding-header:focus {
  outline: 0;
}

/* line 22, ../../.rvm/gems/ruby-3.0.1/gems/materialize-sass-1.0.0/assets/stylesheets/materialize/components/_collapsible.scss */
.folding-header i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body-comments {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.25rem;
}

.card-post-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
}

.card-footer {
  padding: 0.25rem 1.25rem;
  background-color: rgba(0,0,0,0.03);
  border-top: 1px solid rgba(0,0,0,0.125);
}

.dropdown-content{
  display: none;
  text-align: left;
  top: 10px;
  transform-origin: 0px 0px;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.panel-menu.item {
  margin-left: auto;
  margin-right: auto;
}
